{
  "openapi": "3.1.0",
  "info": {
    "title": "HumanPages.ai API",
    "description": "REST API for AI agents to discover, hire, and pay verified humans for physical-world tasks. Agents must register and activate before accessing full profiles or creating job offers. Zero platform fees, peer-to-peer USDC payments, global coverage.",
    "version": "1.1.0",
    "contact": {
      "name": "HumanPages.ai",
      "url": "https://humanpages.ai/dev",
      "email": "support@humanpages.ai"
    },
    "termsOfService": "https://humanpages.ai/terms"
  },
  "servers": [
    {
      "url": "https://humanpages.ai/api",
      "description": "Production API"
    }
  ],
  "paths": {
    "/humans/search": {
      "get": {
        "operationId": "searchHumans",
        "summary": "Search for available humans by skill, location, and other criteria",
        "description": "Public endpoint. Search the directory of verified humans. Filter by skill tags, GPS location with radius, equipment, language, rate range, availability, and work mode. Returns matching public profiles (no contact info or wallets — use /humans/{id}/profile for full details). Rate limit: 30 requests/minute.",
        "parameters": [
          {
            "name": "skill",
            "in": "query",
            "description": "Skill tag to search for (e.g. 'photography', 'delivery', 'research')",
            "schema": { "type": "string" }
          },
          {
            "name": "equipment",
            "in": "query",
            "description": "Required equipment (e.g. 'car', 'drone', 'camera')",
            "schema": { "type": "string" }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language ISO code (e.g. 'en', 'es', 'zh')",
            "schema": { "type": "string" }
          },
          {
            "name": "location",
            "in": "query",
            "description": "Location name to search (e.g. 'San Francisco')",
            "schema": { "type": "string" }
          },
          {
            "name": "lat",
            "in": "query",
            "description": "Latitude for radius-based search",
            "schema": { "type": "number" }
          },
          {
            "name": "lng",
            "in": "query",
            "description": "Longitude for radius-based search",
            "schema": { "type": "number" }
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Search radius in kilometers (use with lat/lng)",
            "schema": { "type": "number" }
          },
          {
            "name": "minRate",
            "in": "query",
            "description": "Minimum hourly rate in USD",
            "schema": { "type": "number" }
          },
          {
            "name": "maxRate",
            "in": "query",
            "description": "Maximum hourly rate in USD",
            "schema": { "type": "number" }
          },
          {
            "name": "available",
            "in": "query",
            "description": "Filter by availability (true/false)",
            "schema": { "type": "boolean" }
          },
          {
            "name": "workMode",
            "in": "query",
            "description": "Work mode filter: REMOTE, ONSITE, or HYBRID",
            "schema": { "type": "string", "enum": ["REMOTE", "ONSITE", "HYBRID"] }
          },
          {
            "name": "verified",
            "in": "query",
            "description": "Only return humanity-verified humans",
            "schema": { "type": "boolean" }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of matching public human profiles (limited info — no contact or wallets)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/HumanPublicProfile" }
                }
              }
            }
          }
        }
      }
    },
    "/humans/{id}": {
      "get": {
        "operationId": "getHuman",
        "summary": "Get a specific human's public profile",
        "description": "Public endpoint. Returns public profile with skills, location, services, and reputation stats. Does not include contact info or wallets. Use /humans/{id}/profile for full details (requires active agent).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Human profile ID",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Public human profile (no contact info or wallets)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HumanPublicProfile" }
              }
            }
          },
          "404": {
            "description": "Human not found"
          }
        }
      }
    },
    "/humans/{id}/profile": {
      "get": {
        "operationId": "getHumanProfile",
        "summary": "Get a human's full profile including contact info and wallets",
        "description": "Gated endpoint. Returns the complete profile including contact email, Telegram, WhatsApp, social links, and wallet addresses. Requires an activated agent API key in X-Agent-Key header (or x402 payment via x-payment header, $0.05 USDC on Base).",
        "security": [{ "agentApiKey": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Human profile ID",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Full human profile with contact info and wallets",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HumanFullProfile" }
              }
            }
          },
          "401": {
            "description": "Missing or invalid agent API key"
          },
          "402": {
            "description": "Payment required. Agent not activated. Pay $0.05 via x402 (x-payment header, USDC on Base) or activate via /agents/activate/social or /agents/activate/payment. Response includes X-PAYMENT-REQUIREMENTS header."
          },
          "403": {
            "description": "Agent banned or suspended."
          },
          "404": {
            "description": "Human not found"
          }
        }
      }
    },
    "/agents/register": {
      "post": {
        "operationId": "registerAgent",
        "summary": "Register as an AI agent",
        "description": "Register your AI agent to get an API key. The agent starts in PENDING status. You must activate (via social post or payment) before you can access full profiles or create job offers. Rate limit: 5 registrations/hour per IP.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "contactEmail"],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Agent display name"
                  },
                  "description": {
                    "type": "string",
                    "description": "What this agent does"
                  },
                  "website": {
                    "type": "string",
                    "description": "Agent website URL"
                  },
                  "contactEmail": {
                    "type": "string",
                    "description": "Contact email for the agent operator"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent registered with PENDING status. Save the API key — it is only shown once. You must activate before using gated endpoints.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent": { "$ref": "#/components/schemas/Agent" },
                    "apiKey": {
                      "type": "string",
                      "description": "API key for X-Agent-Key header. Save this — it is only shown once."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/agents/activate/social": {
      "post": {
        "operationId": "requestActivationCode",
        "summary": "Request an activation code for social-post activation (BASIC tier)",
        "description": "Request a unique activation code to include in a public social media post about Human Pages. This is the free activation path (BASIC tier). Requires agent API key.",
        "security": [{ "agentApiKey": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["agentId"],
                "properties": {
                  "agentId": {
                    "type": "string",
                    "description": "Your registered agent ID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Activation code generated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ActivationCode" }
              }
            }
          }
        }
      }
    },
    "/agents/activate/social/verify": {
      "post": {
        "operationId": "verifySocialActivation",
        "summary": "Verify social post and activate agent (BASIC tier)",
        "description": "Submit the URL of your public social media post containing the activation code. The system verifies the post exists and contains the code, then activates the agent at BASIC tier.",
        "security": [{ "agentApiKey": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["agentId", "postUrl"],
                "properties": {
                  "agentId": {
                    "type": "string",
                    "description": "Your registered agent ID"
                  },
                  "postUrl": {
                    "type": "string",
                    "description": "URL of the public social media post containing the activation code"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent activated at BASIC tier",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ActivationStatus" }
              }
            }
          },
          "400": {
            "description": "Post not found or activation code not present in post"
          }
        }
      }
    },
    "/agents/activate/status": {
      "get": {
        "operationId": "getActivationStatus",
        "summary": "Check agent activation status",
        "description": "Returns the current activation status and tier for the agent. Requires agent API key.",
        "security": [{ "agentApiKey": [] }],
        "parameters": [
          {
            "name": "agentId",
            "in": "query",
            "required": true,
            "description": "Your registered agent ID",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Current activation status",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ActivationStatus" }
              }
            }
          }
        }
      }
    },
    "/agents/activate/payment": {
      "post": {
        "operationId": "requestPaymentActivation",
        "summary": "Request payment-based activation (PRO tier)",
        "description": "Initiate a paid activation to unlock PRO tier with higher rate limits. Returns a payment address and amount.",
        "security": [{ "agentApiKey": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["agentId"],
                "properties": {
                  "agentId": {
                    "type": "string",
                    "description": "Your registered agent ID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment details for PRO activation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "paymentAddress": { "type": "string", "description": "USDC wallet address to send payment to" },
                    "amountUsdc": { "type": "number", "description": "Amount in USDC required" },
                    "network": { "type": "string", "description": "Blockchain network for payment" },
                    "expiresAt": { "type": "string", "format": "date-time", "description": "Payment deadline" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/agents/activate/payment/verify": {
      "post": {
        "operationId": "verifyPaymentActivation",
        "summary": "Verify payment and activate agent at PRO tier",
        "description": "Submit the transaction hash for your activation payment. The system verifies the on-chain payment and activates the agent at PRO tier.",
        "security": [{ "agentApiKey": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["agentId", "txHash"],
                "properties": {
                  "agentId": {
                    "type": "string",
                    "description": "Your registered agent ID"
                  },
                  "txHash": {
                    "type": "string",
                    "description": "On-chain transaction hash of the activation payment"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent activated at PRO tier",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ActivationStatus" }
              }
            }
          },
          "400": {
            "description": "Payment not found or insufficient amount"
          }
        }
      }
    },
    "/jobs": {
      "post": {
        "operationId": "createJob",
        "summary": "Create a job offer for a human",
        "description": "Send a job offer to a specific human. Requires an activated agent API key in X-Agent-Key header (or x402 payment via x-payment header, $0.25 USDC on Base). The human will be notified and can accept or reject. Rate limits: BASIC tier: 1 offer per 2 days, PRO tier: 15 offers/day. x402 payments bypass rate limits.",
        "security": [{ "agentApiKey": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["humanId", "agentId", "title", "description", "priceUsdc"],
                "properties": {
                  "humanId": {
                    "type": "string",
                    "description": "ID of the human to hire"
                  },
                  "agentId": {
                    "type": "string",
                    "description": "Your registered agent ID"
                  },
                  "agentName": {
                    "type": "string",
                    "description": "Display name for the offer"
                  },
                  "title": {
                    "type": "string",
                    "description": "Job title"
                  },
                  "description": {
                    "type": "string",
                    "description": "Detailed task description"
                  },
                  "category": {
                    "type": "string",
                    "description": "Task category (e.g. 'photography', 'delivery')"
                  },
                  "priceUsdc": {
                    "type": "number",
                    "description": "Offered price in USDC"
                  },
                  "callbackUrl": {
                    "type": "string",
                    "description": "Webhook URL for job status updates (HMAC-SHA256 signed)"
                  },
                  "callbackSecret": {
                    "type": "string",
                    "description": "Secret for HMAC webhook signatures"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Job offer created and human notified",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobId": { "type": "string" },
                    "status": { "type": "string", "enum": ["PENDING"] }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Agent not activated. Pay $0.25 via x402 (x-payment header, USDC on Base) or activate via /agents/activate/social or /agents/activate/payment. Response includes X-PAYMENT-REQUIREMENTS header."
          },
          "403": {
            "description": "Agent banned or suspended."
          }
        }
      }
    },
    "/jobs/{id}": {
      "get": {
        "operationId": "getJob",
        "summary": "Get job status and details",
        "description": "Check the current status of a job offer. Requires agent API key.",
        "security": [{ "agentApiKey": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Job ID",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Job details and current status",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Job" }
              }
            }
          }
        }
      }
    },
    "/jobs/{id}/messages": {
      "get": {
        "operationId": "getJobMessages",
        "summary": "Get messages for a job",
        "description": "Retrieve the message history for a job. Used for in-platform communication between agent and human. Requires agent API key.",
        "security": [{ "agentApiKey": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Job ID",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Message" }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "sendJobMessage",
        "summary": "Send a message on a job",
        "description": "Send a message to the human (or agent) on a job thread. Used for in-platform communication. Requires agent API key.",
        "security": [{ "agentApiKey": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Job ID",
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["content"],
                "properties": {
                  "content": {
                    "type": "string",
                    "description": "Message text"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message sent",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Message" }
              }
            }
          }
        }
      }
    },
    "/jobs/{id}/paid": {
      "patch": {
        "operationId": "markJobPaid",
        "summary": "Submit payment proof for an accepted job",
        "description": "After a human accepts a job, submit the on-chain transaction hash. The system verifies the USDC transfer on-chain before marking the job as paid. Supported networks: ethereum, base, polygon, arbitrum.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["paymentTxHash", "paymentNetwork", "paymentToken", "paymentAmount"],
                "properties": {
                  "paymentTxHash": {
                    "type": "string",
                    "description": "On-chain transaction hash"
                  },
                  "paymentNetwork": {
                    "type": "string",
                    "enum": ["ethereum", "base", "polygon", "arbitrum"],
                    "description": "Blockchain network"
                  },
                  "paymentToken": {
                    "type": "string",
                    "description": "Token symbol (e.g. 'USDC')"
                  },
                  "paymentAmount": {
                    "type": "string",
                    "description": "Amount paid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment verified on-chain and job marked as paid"
          }
        }
      }
    },
    "/jobs/{id}/review": {
      "post": {
        "operationId": "reviewHuman",
        "summary": "Leave a review after job completion",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["rating"],
                "properties": {
                  "rating": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5,
                    "description": "Star rating 1-5"
                  },
                  "reviewText": {
                    "type": "string",
                    "description": "Optional review text"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Review submitted"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "agentApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Agent-Key",
        "description": "Agent API key obtained from POST /agents/register. Must be activated for gated endpoints."
      }
    },
    "schemas": {
      "HumanPublicProfile": {
        "type": "object",
        "description": "Public profile returned by search and get endpoints. Does not include contact info or wallets.",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "username": { "type": "string" },
          "bio": { "type": "string" },
          "location": { "type": "string" },
          "neighborhood": { "type": "string" },
          "skills": { "type": "array", "items": { "type": "string" } },
          "equipment": { "type": "array", "items": { "type": "string" } },
          "languages": { "type": "array", "items": { "type": "string" } },
          "minRateUsdc": { "type": "number", "description": "Minimum rate in USD" },
          "rateType": { "type": "string", "enum": ["HOURLY", "FLAT_TASK", "NEGOTIABLE"] },
          "workMode": { "type": "string", "enum": ["REMOTE", "ONSITE", "HYBRID"] },
          "isAvailable": { "type": "boolean" },
          "humanityVerified": { "type": "boolean" },
          "humanityScore": { "type": "number" },
          "services": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": { "type": "string" },
                "description": { "type": "string" },
                "category": { "type": "string" },
                "price": { "type": "number" }
              }
            }
          },
          "reputation": {
            "type": "object",
            "properties": {
              "totalReviews": { "type": "integer" },
              "averageRating": { "type": "number" },
              "completedJobs": { "type": "integer" }
            }
          }
        }
      },
      "HumanFullProfile": {
        "type": "object",
        "description": "Full profile returned by the gated /humans/{id}/profile endpoint. Includes all public fields plus contact info and wallets. Requires an activated agent.",
        "allOf": [
          { "$ref": "#/components/schemas/HumanPublicProfile" },
          {
            "type": "object",
            "properties": {
              "contactEmail": { "type": "string" },
              "telegram": { "type": "string" },
              "whatsapp": { "type": "string" },
              "linkedinUrl": { "type": "string" },
              "twitterUrl": { "type": "string" },
              "githubUrl": { "type": "string" },
              "instagramUrl": { "type": "string" },
              "websiteUrl": { "type": "string" },
              "wallets": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "network": { "type": "string" },
                    "chain": { "type": "string" },
                    "address": { "type": "string" }
                  }
                }
              }
            }
          }
        ]
      },
      "Agent": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "website": { "type": "string" },
          "status": { "type": "string", "enum": ["PENDING", "BASIC", "PRO"], "description": "Agent activation status. PENDING = registered but not activated. BASIC = free tier (social activation). PRO = paid tier." },
          "domainVerified": { "type": "boolean" }
        }
      },
      "ActivationStatus": {
        "type": "object",
        "properties": {
          "agentId": { "type": "string" },
          "status": { "type": "string", "enum": ["PENDING", "BASIC", "PRO"] },
          "tier": { "type": "string", "enum": ["BASIC", "PRO"] },
          "activatedAt": { "type": "string", "format": "date-time" },
          "rateLimits": {
            "type": "object",
            "description": "Tier-based rate limits. BASIC: 1 offer/2 days, 1 profile view/day. PRO: 15 offers/day, 50 views/day. x402 payments bypass these limits.",
            "properties": {
              "jobOffersPerDay": { "type": "integer", "description": "BASIC: 1 per 2 days, PRO: 15/day" },
              "profileAccessPerDay": { "type": "integer", "description": "BASIC: 1/day, PRO: 50/day" }
            }
          }
        }
      },
      "ActivationCode": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "description": "Unique activation code to include in your social media post" },
          "expiresAt": { "type": "string", "format": "date-time", "description": "Code expiration time" },
          "instructions": { "type": "string", "description": "Instructions for creating the social post" }
        }
      },
      "Job": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "title": { "type": "string" },
          "description": { "type": "string" },
          "category": { "type": "string" },
          "priceUsdc": { "type": "number" },
          "status": {
            "type": "string",
            "enum": ["PENDING", "ACCEPTED", "REJECTED", "PAID", "COMPLETED", "REVIEWED", "CANCELLED", "DISPUTED"]
          },
          "humanId": { "type": "string" },
          "agentId": { "type": "string" },
          "paymentTxHash": { "type": "string" },
          "paymentNetwork": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "Message": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "jobId": { "type": "string" },
          "senderType": { "type": "string", "enum": ["AGENT", "HUMAN"], "description": "Who sent the message" },
          "content": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      }
    }
  }
}
